body {
    background-color: rgb(50, 50, 50);
    
    font-family: Helvetica, Verdana, sans-serif;
}

h1 {
    color: white;
}

h5 {
    color: white;
}

p {
    color: black;
}

img.featured {
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 300px;
}

img.portOptions {
    display: block;
    margin: 0px auto;
    width: 180px;
    height: 180px;
}

img.portProjects {
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 200px;
}



